.advantage {
    min-height: 472px;
    padding: 70px 0;
    background-color: #F6F6F6;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__item {
        width: 290px;
    }

    &__img {
        display: block;
        width: 70px;
        height: 70px;
        margin: 0 auto;
        img {
            width: 100%;
        }
        &_animated {
            animation: heartbeat 2s ease infinite; //название, продолжительность, выбор анимации, общее время
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    &__title {
        text-align: center;
        font-weight: 700;
        margin-top: 35px;
    }
    &__descr {
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        margin-top: 20px;
        span {
            color: #FF0000;
            text-transform: uppercase;
        }
    }
}