.button {
    width: 153px;
    height: 32px;
    background-color: $mainColor;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: $whiteColor;
    font-size: 12px;
    font-weight: 500;
    transition: .4s all;
    &:active {
        background-color: #9e0303;
    }
    &__main {
        width: 300px;
        height: 50px;
        font-size: 16px;
        margin-top: 67px;
    }
    &_submit {
        height: 55px;
        width: 100%;
        font-size: 16px;
    }
}